<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <b>EMPLOYEE RECORD</b> <br>
    Name 1: {{ name1 }} <br>
    <span v-if="name2 != null && name2 != ''">
      Name 2: {{ name2 }} <br>
    </span>
    Surname: {{ surname }} <br>
    <span v-if="!foreigner">
      Pesel: {{ pesel }} <br>
    </span>
    <span v-else>
      Nationality: {{ nationality}} <br>
    </span>
    Address: {{ address }}
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        name1: 'Adam',
        name2: 'Jan',
        surname: 'Majewski',
        foreigner: false,
        nationality: 'Polish',
        pesel: '92021708229',
        address: 'ul. Szeroka 3, Kraków',
    }});
  </script>

</body>
</html>